
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */


/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {

}

@media (max-width: 1200px) {
   .container {
      width: 100%;
   }
}

/*Place rules that need to override default css rules inherited from libraries like bootstrap*/
.body-content {
   padding: 50px 5px 20px 5px;

   label {
      margin-bottom: auto;
      margin-top:auto;
   }

   .test {
      margin-bottom: 10px;
   }

   ul {
      padding-left: 0;
      overflow: hidden;
      width: 100%;
   }

   li {
      list-style-type: none;
   }
}


/*Place rules that target the IndexPage specifically*/
#IndexPage {
	#LocationSearch {
		ul {		
			text-align: right;		
			display: inline-flex;
			justify-content: flex-end;
		}
		label {
			margin-right: 10px;
			min-width: 120px;
		}
		input {
			flex-grow: 1;
		}
		textarea{
			width:100%;
			height:240px;
		}
	}
}


.HTMLTemplates {
	display:none;
}

.modal {
	/* https://www.w3schools.com/howto/howto_css_modals.asp */

	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 100; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

	/* Modal Content/Box */
	.modal-content {
		background-color: #fefefe;
		margin: 15% auto; /* 15% from the top and centered */
		padding: 20px;
		border: 1px solid #888;
		width: 80%; /* Could be more or less, depending on screen size */
	}
	/* The Close Button */
	.close {
		color: #aaa;
		float: right;
		font-size: 28px;
		font-weight: bold;
	}

	.close:hover,
	.close:focus {
		color: black;
		text-decoration: none;
		cursor: pointer;
	}
}
