
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */


/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {

}

@media (max-width: 1200px) {
   .container {
      width: 100%;
   }
}

.highlightRequiredInputs {
   input:required {
      border: 1px solid red;
   }
}

a {
   cursor: pointer;
}

/*Place rules that need to override default css rules inherited from libraries like bootstrap*/
.body-content {
   padding: 50px 5px 20px 5px;

   input[disabled] {
      opacity: .5;
   }

   label {
      margin-bottom: auto;
      margin-top: auto;
   }

   .test {
      margin-bottom: 10px;
   }

   ul {
      padding-left: 0;
      overflow: hidden;
      width: 100%;    
   }

   li {
      list-style-type: none;
      display: inline-flex;
      justify-content: flex-end;
      overflow: hidden;
      margin-bottom: 5px;

      &.required {
         label:before {
            content: " *";
            color: red;
         }

         label:hover:before {
            content: "(required)";
            color: red;
            font-weight: normal;
         }
      }

      label {
         text-align: right;
         margin-right: 10px;
         width: 160px;
      }

      input {
         flex-grow: 1;
      }

      select {
         flex-grow: 1;
      }
   }

   h1, h2, h3 {
      margin-top: 10px;
      margin-bottom: 10px;
   }

   #divPageMessage {
      font-weight: bold;
      text-align: center;
      font-size: larger;
      margin-top: 10px;

      &.error {
         color: red;
      }

      &.alert {
         color: sandybrown;
      }

      &.info {
         color: navy;
      }

      &.success {
         color: green;
      }
   }
}

#InputParams {

   &.Success {
      input {
         box-shadow: inset 1px 1px 10px 1px lightgreen, 1px 1px 10px 1px lightgreen;
         border: 1px solid lightgreen;
      }
   }

   &.Error {
      input {
         box-shadow: inset 1px 1px 10px 1px, 1px 1px 10px 1px red;
         border: 1px solid red;
      }
   }

   ul {
      li {
         span {
            color: red;
         }
      }
   }
}


#SignUpPage {
   padding-left: 15px;

   label {
      width: 150px;
   }

   ul {
      max-width: 100rem;
   }

   input {
      width: 350px;
   }
}

#LoginPage {
   input {
      margin-right: 10px;
   }

   input[param] {
      width: 250px;
   }
}


#APITest {
   display: inline-block;

   .split-pane {
      min-height: 500px;
   }

   .left-pane {
      position: relative;
      left: 0px;
      width: 50%;
      float: left;
   }

   .right-pane {
      position: relative;
      right: 0px;
      width: 49%;
      float: right;
   }

   .right-pane label {
      display: block;
   }

   li {
      width: 100%;
   }

   textarea {
      width: 99%;
      height: 100%;
      min-height: 400px;
   }

   #InputParams label {
      font-weight: normal;
   }

   #InputParams span {
      width: 50px;
   }

   input[type=button] {
      margin: 0 5px;
   }
}


/*Place rules that target the IndexPage specifically*/
#IndexPage {
	#LocationSearch {
		ul {		
			text-align: right;		
			display: inline-flex;
			justify-content: flex-end;
		}
		label {
			margin-right: 10px;
			min-width: 120px;
		}
		input {
			flex-grow: 1;
		}
		textarea{
			width:100%;
			height:240px;
		}
	}
}


#AccountPage {
   #allLoginsTableContainer {
      overflow-x: auto;
   }

   th {
      font-size: larger;
   }

   tr {
      &.current {
         background-color: #d5f4e6;
      }
   }

   td {
      padding: .25em;

      &:nth-child(1) {
         min-width: 5em;
         text-align: right;
         font-size: smaller;
         padding-right: 1em;
         padding-left: 1em;
      }

      &:nth-child(2) {
         min-width: 12em;
         padding-right: 1em;
      }

      &:nth-child(3) {
         min-width: 25em;
         font-family: "Courier New", Courier, monospace;
      }
   }
}


.HTMLTemplates {
	display:none;
}

.modal {
	/* https://www.w3schools.com/howto/howto_css_modals.asp */

	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 100; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

	/* Modal Content/Box */
	.modal-content {
		background-color: #fefefe;
		margin: 15% auto; /* 15% from the top and centered */
		padding: 20px;
		border: 1px solid #888;
		width: 80%; /* Could be more or less, depending on screen size */
	}
	/* The Close Button */
	.close {
		color: #aaa;
		float: right;
		font-size: 28px;
		font-weight: bold;
	}

	.close:hover,
	.close:focus {
		color: black;
		text-decoration: none;
		cursor: pointer;
	}
}
