/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
/* Hide/rearrange for smaller screens */
@media (max-width: 1200px) { .container { width: 100%; } }

.highlightRequiredInputs input:required { border: 1px solid red; }

a { cursor: pointer; }

.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }

.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }

.autocomplete-selected { background: #F0F0F0; }

.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }

.autocomplete-group { padding: 2px 5px; }

.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }

/*Place rules that need to override default css rules inherited from libraries like bootstrap*/
.body-content { padding: 50px 5px 20px 5px; }

.body-content input[disabled] { opacity: .5; }

.body-content label { margin-bottom: auto; margin-top: auto; }

.body-content .test { margin-bottom: 10px; }

.body-content ul { padding-left: 0; overflow: hidden; width: 100%; }

.body-content li { list-style-type: none; display: inline-flex; justify-content: flex-end; overflow: hidden; margin-bottom: 5px; }

.body-content li.required label:before { content: " *"; color: red; }

.body-content li.required label:hover:before { content: "(required)"; color: red; font-weight: normal; }

.body-content li label { text-align: right; margin-right: 10px; width: 160px; }

.body-content li input { flex-grow: 1; }

.body-content li select { flex-grow: 1; }

.body-content h1, .body-content h2, .body-content h3 { margin-top: 10px; margin-bottom: 10px; }

.body-content #divPageMessage { font-weight: bold; text-align: center; font-size: larger; margin-top: 10px; }

.body-content #divPageMessage.error { color: red; }

.body-content #divPageMessage.alert { color: sandybrown; }

.body-content #divPageMessage.info { color: navy; }

.body-content #divPageMessage.success { color: green; }

#InputParams.Success input { box-shadow: inset 1px 1px 10px 1px lightgreen, 1px 1px 10px 1px lightgreen; border: 1px solid lightgreen; }

#InputParams.Error input { box-shadow: inset 1px 1px 10px 1px, 1px 1px 10px 1px red; border: 1px solid red; }

#InputParams ul li { /*span { color: red; }*/ }

#InputParams.vert_list .input_label { width: 15rem; }

#InputParams.vert_list .input_ul { max-width: 100rem; }

#InputParams.vert_list .input_param { width: 35rem; }

#InputParams.vert_list textarea.input_param { width: 70rem; height: 10rem; }

#CreateEventPage { padding-left: 15px; }

#CreateEventPage #txtCaption { height: 2em; }

#SignUpPage { padding-left: 15px; }

#LoginPage input { margin-right: 10px; }

#LoginPage input[param] { width: 250px; }

#APITest { display: inline-block; }

#APITest .split-pane { min-height: 500px; }

#APITest .left-pane { position: relative; left: 0px; width: 50%; float: left; }

#APITest .right-pane { position: relative; right: 0px; width: 49%; float: right; }

#APITest .right-pane label { display: block; }

#APITest li { width: 100%; }

#APITest .buttons { justify-content: space-around; }

#APITest .buttons span, #APITest .buttons input { width: 100%; margin: 0px 1em; }

#APITest .buttons label { vertical-align: sub; }

#APITest .buttons span { vertical-align: sub; }

#APITest textarea { width: 99%; height: 100%; min-height: 400px; }

#APITest #InputParams label { font-weight: normal; }

#APITest #InputParams span { width: 50px; }

#APITest input[type=button] { margin: 0 5px; }

/*Place rules that target the IndexPage specifically*/
#IndexPage #EventFeed { padding: 1em; }

#IndexPage #EventFeed ul { overflow: auto; }

#IndexPage #EventFeed li { flex-direction: column; background-color: lightgray; width: 100%; padding: 5px 2vw 5px 2vw; border-radius: 5px; opacity: 0.9; }

#IndexPage #EventFeed li:hover { opacity: 1; }

#IndexPage .ef_item_container { width: 100%; }

#IndexPage .ef_item { width: 100%; }

#IndexPage .ef_item .title { font-size: 24px; }

#IndexPage .ef_left { float: left; }

#IndexPage .ef_right { float: right; }

#AccountPage #allLoginsTableContainer { overflow-x: auto; }

#AccountPage #btnLogoutAll { margin-top: 10px; }

#AccountPage th { font-size: larger; }

#AccountPage tr.current { background-color: #d5f4e6; }

#AccountPage td { padding: .25em; }

#AccountPage td:nth-child(1) { min-width: 5em; text-align: right; font-size: smaller; padding-right: 1em; padding-left: 1em; }

#AccountPage td:nth-child(2) { min-width: 12em; padding-right: 1em; }

#AccountPage td:nth-child(3) { min-width: 25em; font-family: "Courier New", Courier, monospace; }

#AccountPage #accountInfo label { width: 150px; }

#AccountPage #accountInfo ul { max-width: 100rem; }

#AccountPage #accountInfo span { width: 350px; }

.HTMLTemplates { display: none; }

.modal { /* https://www.w3schools.com/howto/howto_css_modals.asp */ display: none; /* Hidden by default */ position: fixed; /* Stay in place */ z-index: 100; /* Sit on top */ left: 0; top: 0; width: 100%; /* Full width */ height: 100%; /* Full height */ overflow: auto; /* Enable scroll if needed */ background-color: black; /* Fallback color */ background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */ /* Modal Content/Box */ /* The Close Button */ }

.modal .modal-content { background-color: #fefefe; margin: 15% auto; /* 15% from the top and centered */ padding: 20px; border: 1px solid #888; width: 80%; /* Could be more or less, depending on screen size */ }

.modal .close { color: #aaa; float: right; font-size: 28px; font-weight: bold; }

.modal .close:hover, .modal .close:focus { color: black; text-decoration: none; cursor: pointer; }

