@import "_mixins.scss";

@media screen and (max-width: 767px) {
}

@media (max-width: 1200px) {
   .container {
      width: 100%;
   }
}


.highlightRequiredInputs {
   input:required {
      border: 1px solid red;
   }
}

a {
   cursor: pointer;
}


.HTMLTemplates {
   display: none;
}
