@import "_mixins.scss";

@media screen and (max-width: 767px) {
}

@media (max-width: 1200px) {
   .container {
      width: 100%;
   }
}


.required-highlight {
   border: 1px solid red;

   .required label, label.required, &.required label {
      color: red;
   }

   .required input, input.required {
      border: 1px solid red;
   }

}

body.required-highlight {
   input:required {
      border: 1px solid red;
   }
}


.required {
   label:before {
      content: " *";
      color: red;
   }

   label:hover:before {
      content: "(required)";
      color: red;
      font-weight: normal;
   }
}



a {
   cursor: pointer;
}


.HTMLTemplates {
   display: none;
}
