@import "_mixins.scss";

#IndexPage {

   .ef_item_container {
      width: 100%;
   }

   .ef_item {
      width: 100%;

      .title {
         font-size: 24px;
      }
   }




   .ef_item_container {
      label {
         width: 8rem;
      }
   }



   .loading_spinner {
      height: 50px;
   }

   .fadeOut {
      @include vendor-property(animation-name, fadeOut);
      @include vendor-property(animation-duration, 2s);
   }

   .ef_details {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
   }

   .modal_eventdetails {
      .modal-content {
         top: 60px;
         /*left:60px;
         right:60px;
         bottom:60px;*/
      }

      .modal-body {
         padding-top: 0;
         /*height: 60vh;*/
      }

      .details {
         margin-top: 10px;

         img {
            display: block !important;
            float: none !important;
         }
      }

      .btn {
         color: rgb(51, 122,183);
      }

      .btn.selected {
         background-color: lightblue;
         color: green;
      }

      .modal-footer .btn + .btn {
         margin: 1px 0 1px 15px;
      }

      .loading_spinner {
         height: 75px;
         margin: auto;
         position: absolute;
         top: 50%;
         left: 50%;
      }

      .details_loading {
      }

      .details_loaded {
         @include vendor-property(animation-name, fadeOut);
         @include vendor-property(animation-duration, 1s);
         animation-fill-mode: forwards;
      }

      .ef_left, .ef_right {
         label {
            width: 8em;
         }
      }
   }
}



#EventFeed {
   padding: 1em;

   ul {
      overflow: auto;
   }

   li {
      flex-direction: column;
      background-color: lightgray;
      width: 100%;
      padding: 5px 2vw 5px 2vw;
      border-radius: 5px;
      opacity: 0.9;

      &:hover {
         opacity: 1;
      }
   }


}
