@import "_mixins.scss";

#IndexPage {

   .ef_item_container {
      width: 100%;
   }

   .ef_item {
      width: 100%;

      .title {
         font-size: 24px;
      }
   }




   .ef_item_container {
      label {
         width: 8rem;
      }
   }



   .loading_spinner {
      height: 50px;
      margin: auto;
      position: absolute;
      top: 50%;
      left: 50%;
   }

   .fadeOut {
      @include vendor-property(animation-name, fadeOut);
      @include vendor-property(animation-duration, 2s);
   }

   .ef_details {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
   }

   .modal {
      .modal-content {
         /*top: 60px;*/
      }

      .modal-body {
         padding-top: 0;
      }
   }

   .modal_eventdetails {
      .btnStartEdit {
         @include vendor-property(user-select, none);
         float: left;
         font-weight: 700;
         font-size: x-large;

         a {
            opacity: .3;
            color: inherit;
         }

         display: none;
      }

      .details {
         margin-top: 10px;

         img {
            display: block !important;
            float: none !important;
            max-width: 75vw !important;
            max-height: 55vh !important;
         }
         p{
            white-space:pre-wrap;
         }
      }

      .btn {
         color: rgb(51, 122,183);
      }

      .btn.selected {
         background-color: lightblue;
         color: green;
      }

      .modal-footer .btn + .btn {
         margin: 1px 0 1px 15px;
      }

      .loading_spinner {
         height: 75px;
      }

      .details_loading {
      }

      .details_loaded {
         @include vendor-property(animation-name, fadeOut);
         @include vendor-property(animation-duration, 1s);
         animation-fill-mode: forwards;
      }

      .ef_left, .ef_right {
         label {
            width: 8em;
         }
      }

      .editable.editing {
         display: block;
         padding: 9.5px;
         margin: 0 0 10px;
         font-size: 13px;
         line-height: 1.42857143;
         color: #333;
         word-break: break-all;
         word-wrap: break-word;
         background-color: #f5f5f5;
         border: 1px solid #ccc;
         border-radius: 4px;
      }

      textarea.editable {
         width: 100%;
      }
   }
}



#EventFeed {
   padding: 1em;

   ul {
      overflow: auto;
   }

   li {
      flex-direction: column;
      width: 100%;
      padding: 5px 2vw 5px 2vw;
      border-radius: 5px;
      opacity: 0.9;

      &:hover {
         opacity: 1;
      }
   }

   .ef_item_container:hover:before {
      color: white;
      padding: 0rem 1em;
      border-radius: 20px;
      display: inline-block;
      float: right;
      margin: auto;
      right: 50px;
   }

   .event-past {
      background-color: rgb(210, 210, 210);

      .ef_item_container:hover:before {
         content: "Event Expired";
         background-color: rgb(170, 170, 170);
      }
   }

   .event-ongoing {
      background-color: rgb(210, 230, 210);

      .ef_item_container:hover:before {
         content: "Event In Progress";
         background-color: rgb(170, 190, 170);
      }
   }

   .event-future {
      background-color: rgb(210, 210, 240);

      .ef_item_container:hover:before {
         content: "Future Event";
         background-color: rgb(170, 170, 200);
      }
   }
}

#btnLoadOlderEvents {
   width: 100%;
   text-align: center;

   a {
      width: 100%;
   }
}