@import "_mixins.scss";
@import "_base.scss";
@import "_modal.scss";
@import "../lib/jquery-autocomplete/jquery.autocomplete.scss";
@import "../lib/flatpickr/flatpickr-custom.scss";
@import "../lib/taggle/taggle.scss";


.textarea {
   width: 100%;
   height: 300px;
   border: 1px solid red;
}



/*Place rules that need to override default css rules inherited from libraries like bootstrap*/
.body-content {
   padding: 50px 5px 20px 5px;

   input[disabled] {
      opacity: .5;
   }

   label {
      margin-bottom: auto;
      margin-top: auto;
   }

   .test {
      margin-bottom: 10px;
   }

   ul {
      padding-left: 0;
      overflow: hidden;
      width: 100%;
   }

   li {
      list-style-type: none;
      display: inline-flex;
      justify-content: flex-end;
      overflow: hidden;
      margin-bottom: 5px;

      &.required {
         label:before {
            content: " *";
            color: red;
         }

         label:hover:before {
            content: "(required)";
            color: red;
            font-weight: normal;
         }
      }

      label {
         text-align: right;
         margin-right: 10px;
         width: 15rem;
      }

      input {
         flex-grow: 1;
      }

      select {
         flex-grow: 1;
      }
   }

   h1, h2, h3 {
      margin-top: 10px;
      margin-bottom: 10px;
   }

   #divPageMessage {
      font-weight: bold;
      text-align: center;
      font-size: larger;
      margin-top: 10px;

      &.error {
         color: red;
      }

      &.alert {
         color: sandybrown;
      }

      &.info {
         color: navy;
      }

      &.success {
         color: green;
      }
   }
}

#InputParams, .input_params {

   &.Success {
      input {
         box-shadow: inset 1px 1px 10px 1px lightgreen, 1px 1px 10px 1px lightgreen;
         border: 1px solid lightgreen;
      }
   }

   &.Error {
      input {
         box-shadow: inset 1px 1px 10px 1px, 1px 1px 10px 1px red;
         border: 1px solid red;
      }
   }

   ul {
      li {
         /*span {
            color: red;
         }*/
      }
   }

   &.vert_list {
      .input_label {
         width: 15rem;
      }

      .input_ul {
         max-width: 100rem;
      }

      .input_param {
         width: 35rem;
      }

      textarea.input_param {
         width: 70rem;
         height: 10rem;
      }
   }
}

#CreateEventPage {
   padding-left: 15px;

   #txtCaption {
      height: 2em;
   }

   .daterange {
      position: relative;

      ul {
         margin-left: 15rem;
      }

      li {
         flex-direction: column;
         margin: 1em;
      }

      .daterange_label {
         width: 100%;
         text-align: center;
         text-decoration: underline;
         font-size: medium;
      }
   }

   #eventTags {
      border: solid;
      border-width: 1px;

      li {
         margin-bottom: 0px;
      }
   }


   li.input_param_with_btn {
      .input_param {
         width: 59rem;
      }

      input[type=button]{
         margin-left:1rem;
      }
   }

   .event_tags_input {
      border: solid;
      border-width: 1px;
      border-color: #aaa;

      li {
         margin-bottom: 0px;
      }
   }
}

#SignUpPage {
   padding-left: 15px;
}


#LoginPage {
   input {
      margin-right: 10px;
   }

   input[param] {
      width: 250px;
   }
}


#APITest {
   display: inline-block;

   .split-pane {
      min-height: 500px;
   }

   .left-pane {
      position: relative;
      left: 0px;
      width: 50%;
      float: left;
   }

   .right-pane {
      position: relative;
      right: 0px;
      width: 49%;
      float: right;
   }

   .right-pane label {
      display: block;
   }

   li {
      width: 100%;
   }

   .buttons {
      justify-content: space-around;

      span, input {
         width: 100%;
         margin: 0px 1em;
      }

      label {
         vertical-align: sub;
      }

      span {
         vertical-align: sub;
      }
   }

   textarea {
      width: 99%;
      height: 100%;
      min-height: 400px;
   }

   #InputParams label {
      font-weight: normal;
   }

   #InputParams span {
      width: 50px;
   }

   input[type=button] {
      margin: 0 5px;
   }
}
/*Place rules that target the IndexPage specifically*/
#IndexPage {
   #EventFeed {
      padding: 1em;

      ul {
         overflow: auto;
      }

      li {
         flex-direction: column;
         background-color: lightgray;
         width: 100%;
         padding: 5px 2vw 5px 2vw;
         border-radius: 5px;
         opacity: 0.9;

         &:hover {
            opacity: 1;
         }
      }
   }

   .ef_item_container {
      width: 100%;
   }

   .ef_item {
      width: 100%;

      .title {
         font-size: 24px;
      }
   }

   .ef_left {
      float: left;
   }

   .ef_right {
      float: right;
   }
}


#AccountPage {
   #allLoginsTableContainer {
      overflow-x: auto;
   }

   #btnLogoutAll {
      margin-top: 10px;
   }

   th {
      font-size: larger;
   }

   tr {
      &.current {
         background-color: #d5f4e6;
      }
   }

   td {
      padding: .25em;

      &:nth-child(1) {
         min-width: 5em;
         text-align: right;
         font-size: smaller;
         padding-right: 1em;
         padding-left: 1em;
      }

      &:nth-child(2) {
         min-width: 12em;
         padding-right: 1em;
      }

      &:nth-child(3) {
         min-width: 25em;
         font-family: "Courier New", Courier, monospace;
      }
   }

   #accountInfo {
      label {
         width: 150px;
      }

      ul {
         max-width: 100rem;
      }

      span {
         width: 350px;
      }
   }
}

