@page
@model UniEvents.WebApp.Pages.ApiTestModel
@{
   ViewData["Title"] = "ApiTest";
   Layout = "~/Pages/_Layout.cshtml";
}
@section Scripts {
   <script src="~/js/page-apitest/page-apitest.es5.js" asp-append-version="true"></script>
}

<br/>
<div id="APITest">

   <div id="divSelector" style="width:100%;">
      <ul>
         <li>
            <label>Select a Method to test: </label>
            <select id="webMethodSelect">
               <option>Select Method</option>
            </select>
         </li>
         <li>
            <label>Route:</label>
            <input id="route" type="text"/>
         </li>
         <li>
            <label>HttpType:</label>
            <input id="httpType" type="text"/>
         </li>
         <li class="buttons">           
            <span><input id="btnClear" type="button" value="Clear Inputs" disabled /></span>
            <span><input id="btnExecute" type="button" value="Execute" disabled /></span>
            <span><label>Milliseconds: </label><span id="millitime">time</span></span>           
         </li>
      </ul>
      <div>

      </div>
   </div>

   <div class="split-pane">
      <div class="left-pane">
         <label>Inputs</label>
         <ul id="InputParams">

         </ul>
      </div>
      <div class="right-pane">
         <label>Result JSON</label>
         <textarea id="resultJson"></textarea>
         <label>Post Body</label>
         <textarea id="postBody"></textarea>

      </div>
   </div>
</div>





