@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@section Scripts {
    <script src="~/bundles/page-index.es5.js" asp-append-version="true"></script>
}


<div class="HTMLTemplates">
    <div id="Template_EventDetailsModal" class="modal modal_eventdetails">
        <div class="modal_content">
            <div class="title"></div>
            <div class="caption"></div>
            <div class="details">
                <div class="ef_left">
                    <div class="host"></div>
                    <div class="location"></div>
                    <div class="address"></div>
                </div>
                <div class="ef_right">
                    <div class="times">
                        <div class="time_start"><time></time></div>
                        <div class="time_end"><time></time></div>
                    </div>
                    <div class="rsvp">
                        <span class="rsvp_attending"></span>
                    </div>
                </div>
            </div>
            <p class="description"></p>
            <span class="btn close">Cancel</span>
            <button class="btn join_event">Join Event</button>
        </div>
    </div>

    <div id="Template_FeedItem" class="ef_item">
        <div class="title"></div>
        <div class="caption"></div>
        <div class="ef_details">
            <div class="ef_left">
                <div class="host"></div>
                <div class="location"></div>
                <div class="address"></div>
            </div>
            <div class="ef_right">
                <div class="times">
                    <div class="time_start"><time></time></div>
                    <div class="time_end"><time></time></div>
                </div>
                <div class="rsvp">
                    <span class="rsvp_attending"></span>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="HomePage">
    <h2>HomePage</h2>

    <!-- The hidden pop up event description page -->
    <div id="EventModalContent" class="modal">
    </div>

    @if (Model.UserContext != null && Model.UserContext.IsVerifiedLogin)
    {
        <a asp-page="/CreateEvent">
            <!-- i know we were planning on a popup, but time is short-->
            <input id="CreateEventButton" type="button" value="+" onclick="popUp()" />
        </a>
    }
        <!--Diplays the feed for events, using info given by the Model,
         dummy case is currently an int but i will spruce it up once i can access events and such-->

        <div id="EventFeed">
            <ul>
                @foreach (int Event in Model.EventFeed)
                {
                    <li>
                        <div id="@Event" class="ef_item">
                            <div class="title">Title of event</div>
                            <div class="caption">Small caption of additional info</div>
                            <div class="details">
                                <div class="ef_left">
                                    <div class="host">UNL City Campus</div>
                                    <div class="location">UNL City Union</div>
                                    <div class="address">1400 R St. Lincoln, Ne</div>
                                </div>
                                <div class="ef_right">
                                    <div class="times">
                                        <div class="time_start"><time datetime="2018-03-11T14:00:00+00:00"></time></div>
                                        <div class="time_end"><time datetime="2018-03-11T16:00:00+00:00"></time></div>
                                    </div>
                                    <div class="rsvp">
                                        <span class="rsvp_attending">55</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                }
            </ul>


        </div>

        <!--currently only adds one more button , only should need to change html and add a for loop-->
        <input id="TenMoreButton" type="button" value="TenMore" />

    </div>


