@page
@model IndexModel
@{
   ViewData["Title"] = "Home page";
}

@section Scripts {
   <script src="~/js/page-index/page-index.es5.js" asp-append-version="true"></script>
}


<div class="HTMLTemplates">
   <div id="Template_EventDetailsModal" class="modal modal_eventdetails">
      <div class="modal_content">
         <div class="title"></div>
         <div class="caption"></div>
         <div class="details">
            <div class="ef_left">
               <div class="host"></div>
               <div class="location"></div>
               <div class="address"></div>
            </div>
            <div class="ef_right">
               <div class="times">
                  <div class="time_start"><time></time></div>
                  <div class="time_end"><time></time></div>
               </div>
               <div class="rsvp">
                  <span class="rsvp_attending"></span>
               </div>
            </div>
         </div>
         <p class="description"></p>
         <span class="btn close">Cancel</span>
         <button class="btn join_event">Join Event</button>
      </div>
   </div>

   <div id="Template_FeedItem" class="ef_item_container">
      <div class="ef_item">
         <div class="title"><span class="ef_value"></span></div>
         <div class="caption"><span class="ef_value"></span></div>
         <div class="ef_details">
            <div class="ef_left">
               <div class="host"><label>Host:</label><span class="ef_value"></span></div>
               <div class="location"><label>Location:</label><span class="ef_value"></span></div>
               <div class="street"><label>Street:</label><span class="ef_value"></span></div>
               <div class="address"><label>Address:</label><span class="ef_value"></span></div>
            </div>
            <div class="ef_right">
               <div class="times">
                  <div class="time_start"><label>Start Time:</label><time class="ef_value"></time></div>
                  <div class="time_end"><label>End Time:</label><time class="ef_value"></time></div>
               </div>
               <div class="rsvp">
                  <label>Attending:</label>
                  <span class="rsvp_attending ef_value"></span>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

<div id="IndexPage">
   <h2>Event Feed</h2>

   <!-- The hidden pop up event description page -->
   <div id="EventModalContent" class="modal">
   </div>

   @if (Model.UserContext != null && Model.UserContext.IsVerifiedLogin) {
      <a asp-page="/CreateEvent">
         <!-- i know we were planning on a popup, but time is short-->
         <input id="CreateEventButton" type="button" value="Create New Event" />
      </a>
   }

   <div id="EventFeed">

   </div>

   <!--currently only adds one more button , only should need to change html and add a for loop-->
   <input id="TenMoreButton" type="button" value="TenMore" />

</div>


