@page
@model UniEvents.WebApp.Pages.SignUpModel
@{
   ViewData["Title"] = "Login";
   Layout = "~/Pages/_Layout.cshtml";
}

<h2>Login</h2>

<div id="LoginPage">
   <input type="text" param="UserName" source="QueryString" placeholder="UserName" />
   <input type="password" param="Password" source="QueryString" placeholder="Password" />

   <input id="btnLogin" type="button" value="Login" />

   <a asp-page="/SignUp">
      <input id="btnCreateAccount" type="button" value="Create Account" />
   </a>
   
</div>
