@page
@model UniEvents.WebApp.Pages.SignUpModel
@{
   ViewData["Title"] = "Login";
   Layout = "~/Pages/_Layout.cshtml";
}

<h2>Login</h2>

<div id="LoginPage">
   <input type="text" param="UserName" source="QueryString" placeholder="UserName" />
   <input type="password" param="Password" source="QueryString" placeholder="Password" />

   <input id="btnLogin" type="button" value="Login" />

   <a asp-page="/SignUp">
      <input id="btnCreateAccount" type="button" value="Create Account" />
   </a>
   
</div>


<script>

   var btnLogin = document.getElementById("btnLogin");

   btnLogin.addEventListener("click", handleLogin);
   document.addEventListener('keyup', function (ev) {
      if (ev.keyCode === 13) { //Enter key
         handleLogin();
      }
   });

   function handleLogin() {
      var oRequest = U.buildAjaxRequestFromInputs(document.querySelectorAll("input[param]"), { type: "GET", url: `webapi/account/login` });
      function handleError(ev) {
            console.log(ev, oRequest);
            U.setPageMessage('error', ev.message);
            U.highlightRequiredInputs(true);
      }

      $.ajax(oRequest)
         .fail(handleError)
         .done(function (ev) {
            if (ev.success) {
               U.setPageMessage('success', "Welcome " + ev.result.userName);
               window.setTimeout(function () {
                  location.pathname = "";//Go to Homepage
               }, 1000);
            } else {
               handleError(ev);
            }
         });

   }

</script>