@page
@model LoginModel

@{
   ViewData["Title"] = "SignUp";
   Layout = "~/Pages/_Layout.cshtml";
}

<h2>SignUp</h2>

<div id="SignUpPage">

   <div id="InputParams">

      <h4>Account Info</h4>
      <ul>
         <li class="required">
            <label>UserName:</label>
            <input type="text" param="UserName" required />
            <span></span>
         </li>
         <li class="required">
            <label>Password:</label>
            <input type="text" param="password" source="QueryString" required />
            <span></span>
         </li>
         <li>
            <label>Display Name:</label>
            <input type="text" param="DisplayName" placeholder="Name Other Users See" />
            <span></span>
         </li>
      </ul>

      <h4>Personal Info</h4>
      <ul>
         <li>
            <label>First Name:</label>
            <input type="text" param="FirstName" />
            <span></span>
         </li>
         <li>
            <label>Last Name:</label>
            <input type="text" param="LastName" />
            <span></span>
         </li>
         <li>
            <label>School Email:</label>
            <input type="text" param="SchoolEmail" />
            <span></span>
         </li>
         <li>
            <label>Contact Email:</label>
            <input type="text" param="ContactEmail" />
            <span></span>
         </li>
         <li>
            <label>Phone Number:</label>
            <input type="text" param="PhoneNumber" />
            <span></span>
         </li>
      </ul>


      <h4>Location Info</h4>
      <ul>
         <li>
            <label>Name:</label>
            <input type="text" param="Location.Name" placeholder="House, Apartment, etc." />
            <span></span>
         </li>
         <li>
            <label>Address:</label>
            <input type="text" param="Location.AddressLine" />
            <span></span>
         </li>
         <li class="required">
            <label>City:</label>
            <input type="text" param="Location.Locality" required />
            <span></span>
         </li>
         <li class="required">
            <label>State:</label>
            <input type="text" param="Location.AdminDistrict" required />
            <span></span>
         </li>
         <li class="required">
            <label>Country:</label>
            <input type="text" param="Location.CountryRegion" required />
            <span></span>
         </li>
         <li>
            <label>Postal Code:</label>
            <input type="text" param="Location.PostalCode" />
            <span></span>
         </li>
      </ul>

   </div>

   <br />

   <ul>
      <li>
         <label id="signUpLabel"></label>
         <input id="signUpButton" type="button" value="Create Account" />
      </li>
   </ul>

</div>

<script>

   var InputParams = document.getElementById("InputParams");
   var signUpLabel = document.getElementById("signUpLabel");
   var signUpButton = document.getElementById("signUpButton");

   signUpButton.addEventListener("click", function () {
      var oRequest = U.buildAjaxRequestFromInputs(InputParams.querySelectorAll("input[param]"), { type: "POST", url: "webapi/account/createuser" });

      function handleFailure(ev) {
         console.log(oRequest, ev);
         signUpLabel.value = "Failed!";
         InputParams.class = "Failed";
         U.setPageMessage('error', ev.message);
         U.highlightRequiredInputs(true);
      }

      $.ajax(oRequest)
         .fail(handleFailure)
         .done(function (ev) {
            if (ev.success) {
               signUpButton.disabled = true;
               console.log(oRequest, ev);
               signUpLabel.value = "Success!";
               InputParams.class = "Success";
               U.setPageMessage('success', 'Success!  Go to the <a href="/Login">Login Page to Login!</a>');
            } else {
               handleFailure(ev);
            }
         });

   });
</script>

