<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="SqlDbUniHangoutsConnStr" value="server=tcp:108.167.59.103\SQLUniHangouts,49172; database=dbUniHangouts; uid=ClientApp; pwd=supersecurepasswordlol;" />
    <!--<add key="webpages:Version" value="3.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />-->
  </appSettings>
  <system.web>
    <!--<compilation debug="true" targetFramework="$targetframeworkversion$" />
		<httpRuntime targetFramework="$targetframeworkversion$" />-->
  </system.web>
  <runtime></runtime>
  <system.webServer>
    <handlers>
      <!--I keep commenting this out, but it keeps coming back....-->
      <!--<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />-->
		

    </handlers>
			  <!--<aspNetCore processPath="dotnet" arguments=".\UniEvents.WebAPI.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" />-->

	  <aspNetCore processPath="dotnet" arguments=".\UniEvents.WebAPI.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" />
  </system.webServer>
</configuration>