@page
@model UniEvents.WebApp.Pages.ApiTestModel
@{
   ViewData["Title"] = "ApiTest";
   Layout = "~/Pages/_Layout.cshtml";
}
@section Scripts {
   <script src="~/bundles/page-apitest.es5.js" asp-append-version="true"></script>
}


<style>
   .split-pane { min-height: 500px; }
   .left-pane{ position:relative; left:0px; width:50%; float:left; }
   .right-pane{position:relative; right:0px; width:49%; float:right; }
   .right-pane label {display: block; }
   textarea{width:99%; height: 100%; min-height:400px; }
   #APITest { display:inline-block; }
   #APITest li { display:inline-flex; justify-content: flex-end; overflow:hidden; width: 100%; margin-bottom: 5px; }
   #APITest li label { text-align: right; margin-right:10px; width:160px; }
   #APITest li input, #APITest li select { flex-grow: 1; }
   #InputParams label { font-weight: normal; }
   #InputParams span {width:50px;}
   input[type=button][disabled]{ opacity:.5;  }
   input[type=button]{ margin: 0 5px; }
</style>

<br/>
<div id="APITest">

   <div id="divSelector" style="width:100%;">
      <ul>
         <li>
            <label>Select a Method to test: </label>
            <select id="webMethodSelect">
               <option>Select Method</option>
            </select>
         </li>
         <li>
            <label>Template:</label>
            <input id="routeTemplate" type="text" readonly="readonly" />
         </li>
         <li>
            <label>Route:</label>
            <input id="route" type="text" readonly="readonly" />
         </li>
         <li>
            <label>HttpType:</label>
            <input id="httpType" type="text" readonly="readonly" />
         </li>
         <li>
            <input id="btnClear" type="button" value="Clear Inputs" disabled />
            <input id="btnExecute" type="button" value="Execute" disabled />
         </li>
      </ul>
      <div>

      </div>
   </div>

   <div class="split-pane">
      <div class="left-pane">
         <label>Inputs</label>
         <ul id="InputParams">

         </ul>
      </div>
      <div class="right-pane">
         <label>Result JSON</label>
         <textarea id="resultJson"></textarea>
         <label>Post Body</label>
         <textarea id="postBody"></textarea>

      </div>
   </div>
</div>





