@page
@model IndexModel
@{
	ViewData[ "Title" ] = "Home page";
}

@section Scripts {
	<script src="~/bundles/page-index.es5.js" asp-append-version="true"></script>
}


<div id="IndexPage">

	<div id="LocationSearch">
		Locaton Search Example
		<li>
			@*use at symbol to switch to codebehind mode so we can loop through and build our html.
				In the code behind we got all the names of the params from thom the LocationsController.Search method.*@
			@foreach(string name in Model.LocationFields) {
				<ul><label> @name </label><input type="text" class="loc-param" data-name="@name" /></ul>
			}
			@*When the search button is clicked,
				a javascript function in 'index-page.js' will use the param names to know which querystring params to use. *@
			<ul><button type="button" data-route="@Model.SearchMethodPath">Perform Search</button></ul>
			<ul><textarea></textarea></ul>
		</li>

	</div>

</div>




